@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
box-sizing: border-box;
background-color: gray;
// background-image: url(https://img.freepik.com/free-photo/coffee-cup-blank-spiral-notepad-white-background_23-2147898235.jpg?w=2000);
background-size: cover;
background-image: url(https://images.alphacoders.com/108/1084039.jpg);
// background-image: url(https://wallpaper.dog/large/5545504.jpg);
// background-image: url(https://media.timeout.com/images/105513032/750/422/image.jpg);
// background-image: url(https://static.vecteezy.com/system/resources/previews/005/090/356/large_2x/background-of-dark-roasted-coffee-bean-and-with-dark-chocolate-on-white-concrete-background-with-copy-space-photo.jpg);
// background-image: url(https://media.istockphoto.com/photos/shot-of-coffee-beans-and-a-cup-of-black-coffee-on-a-wooden-table-picture-id1349239413?b=1&k=20&m=1349239413&s=170667a&w=0&h=UiS50ATqbYcXoCunTrAWei3iB5gGgch-T1F1L988VQw=);
// background-color: rgb(46, 46, 45);
}
.center{
  text-align: center;
  color: white;
}
.input,#input{
  text-align: center;
  box-sizing: border-box;
position: relative;
margin-left: 33.5em;
width: 25%;
}
label{
  text-align: center;
}
.title{
  color:white
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu-text{
  display: inline-block;
}

.button{
  display: inline-block;
  background-color: gray;
//   position: relative;
// right: 70px;
}
.button-form{
 position:relative;
 width: 6%;
 height: 40px;
  background-color: rgba(4, 126, 214, 0.646);
  color: rgb(255, 255, 255);
  size: 100px;
}

p.habit-title{
 font-weight: 700;
 font-size: 1.6rem;
 margin-top: 1em;
 padding: 1em;
}

p.habit-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}
.item{
    text-align: center;
  float: left;
  width: 30%;
  margin-right: .7em;
  max-height: 320em;
  background-color: white;
  flex-direction: row;
  margin-bottom: 2em;
  align-items: center;
  border-radius: 0.5em;
  -webkit-box: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
  -moz-box: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
  box-shadow: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
}

p.log-title{
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 1em;
 }

 p.log-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.log-item{
  text-align: center;
  box-sizing: border-box;
position: relative;
float: left;
width: 25%;

zoom: 1;
margin-right: .7em;
max-height: 320em;
// background-color: rgba(46, 44, 44, 0.599);
// color: rgba(209, 208, 206, 0.753);
// color: rgb(124, 81, 0);
background-color: black;
color: white;
flex-direction: row;
margin-bottom: 2em;
align-items: center;
border-radius: 0.5em;
-webkit-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
-moz-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
// box-shadow: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
}

#delete:hover{
background-color: red;
}

#log-date-parent{
 font-size: 20px;
 position: relative;
// left: 110px;
top: 30px;
}
.add-habits{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.good-bad-list-intro{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 85px;
}