@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
position: absolute;
box-sizing: border-box;
background-color: gray;
// background-image: url(https://img.freepik.com/free-photo/coffee-cup-blank-spiral-notepad-white-background_23-2147898235.jpg?w=2000);
background-size: cover;
// background-image: url(https://images.alphacoders.com/108/1084039.jpg);
background-image: url(https://wallpaperaccess.com/full/1642346.jpg);
top: 0;
bottom: 0;
height: 100%;
width: 100%;

//?  background-image: url(https://img.freepik.com/premium-vector/abstract-dark-3d-hexagon-pattern-background_6735-1543.jpg?w=2000);
// background-image: url(https://wallpaper.dog/large/5545504.jpg);
// background-image: url(https://media.timeout.com/images/105513032/750/422/image.jpg);
// background-image: url(https://static.vecteezy.com/system/resources/previews/005/090/356/large_2x/background-of-dark-roasted-coffee-bean-and-with-dark-chocolate-on-white-concrete-background-with-copy-space-photo.jpg);
// background-image: url(https://media.istockphoto.com/photos/shot-of-coffee-beans-and-a-cup-of-black-coffee-on-a-wooden-table-picture-id1349239413?b=1&k=20&m=1349239413&s=170667a&w=0&h=UiS50ATqbYcXoCunTrAWei3iB5gGgch-T1F1L988VQw=);
// background-color: rgb(46, 46, 45);
}
.center,#center{
  text-align: center;
  color: white;
}
.input,#input{
  text-align: center;
  box-sizing: border-box;
position: relative;
margin-left: 33.5em;
width: 25%;
}

.input-two{
  text-align: center;
  box-sizing: border-box;
position: relative;
width: 30%;
}
.top-bar,.top-bar ul{
  // background-color: rgb(40, 33, 31)
  // background-color: rgba(67, 37, 10, 0.912);
    background-color: transparent;
}
#log-submit{
  box-sizing: border-box;
  position: relative;
  margin-left: .2rem;
  margin-right: 5rem;
  margin-top: 2rem;
  width: 13%;
}
.title-logs{
color: white;
text-align: center;
margin-right: 5rem;
}
label{
  text-align: center;
}

#notes-logs,#date-logs{
  margin: 0rem 25rem;
 
 }
 
#center-logs{
  margin-left: 30rem;
  margin-top: 2.5rem;
}

// #log-submit{
//   margin-right: 5rem;
//   margin-top: 2rem;
//   width: 10%;
// }
.title{
  color:white
}
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu-text{
  display: inline-block;
  color: red;
}

.button,.button-comment{
  display: inline-block;
  background-color: gray;
//   position: relative;
// right: 70px;
}
.button-comment{
  color: white;
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 30px;
}
.button-form{
 position:relative;
 width: 6%;
 height: 3rem;
  background-color: rgba(4, 126, 214, 0.646);
  color: rgb(255, 255, 255);
  // size: 100rem;
}

p.habit-title{
 font-weight: 700;
 font-size: 1.6rem;
//  margin-top: .1em;
height: 4.5em;
 padding: 1em;
 border-radius: .8rem .8rem .1rem .1rem;
//  border-bottom: 1px solid blue;
 background-color: #000;
}

p.habit-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}
p.comment-hi{
  color: white;
}
.item{
    text-align: center;
  float: left;
  // position: absolute;

  width: 30%;
 //change back size by deleting
  margin-right: .7em;
  margin-left: 1.5rem;
  background-color: white;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  border-radius: 1rem;
  -webkit-box: 4rem 29rem 38rem -15rem rgba(251, 251, 251, 0.824);
  -moz-box: 4rem 2rem 3rem -1rem rgb(255, 255, 255);
  box-shadow: 4rem 2rem 3rem -15rem rgba(255, 255, 255, 0.951);
}

.input{
  background-color: #777;
}
.comments-list p{
  color: #000;
}
#label-center{
  color: white;
}

#input-comment:hover{
  background-color: green;
  cursor: pointer;
}
#input-comment{
  width: 30%;
  height: 1em;
  zoom: .8;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  background-color: #777;
}
p.log-title{
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  padding: 1.2rem;
 }
p.comments-p,h1.comments-p{
 text-align: left;
line-height: 3rem;
// padding-top: 30px;
padding-bottom: .4rem;
font-size: 2rem;
border-bottom: .2rem solid black;
color: #fff;
}
 p.log-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.breathe{
  margin-bottom: 5em;
}

.log-item{
  text-align: center;
//   box-sizing: border-box;
// position: relative;
float: left;
width: 38%;
// top:40px;

zoom: 1;
margin-right: .7em;
max-height: 320rem;
// background-color: rgba(96, 101, 119, 0.824);
// color: rgba(209, 208, 206, 0.753);
// color: rgb(124, 81, 0);
// background-color: rgb(44, 37, 37);
// background-color: rgba(188, 191, 3, 0.885);
background-color: #000;
// color: rgb(0, 0, 0);
color: yellow;
flex-direction: row;
margin-bottom: 2em;
margin-left: 1.7rem;
align-items: center;
border-radius: 1.3rem;
border: .1rem solid gray;
// -webkit-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
// -moz-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
// box-shadow: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
}


.log-form-test{
  text-align: center;
}

#log-date-parent{
  font-size: 1.7rem;
  position: relative;
  // left: 110px;
  top: 1.8rem;
}
.add-habits{
  height: 4.7rem;
  margin-top: 4.7rem;
  margin-bottom: 4.7rem;
}
.good-bad-list-intro{
  height: 4.5rem;
  margin-top: 4.5rem;
  margin-bottom: -6rem;
}
#delete:hover{
background-color: red;
}

@-webkit-keyframes back{
  from{top:-10rem;opacity: 0;}
  to{top:0rem;opacity: 1;
  }
}

@keyframes back{
  from{top:-100rem;opacity: 0;}
  to{top:0rem;opacity: 1;
  }
}

.logs-back{
  display: none;
  box-sizing:content-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  // height:100em;
height: 300vh;

  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(.27rem);
}
#logs:target {
  display: block;
  position: absolute;
}

.logs-box {
  margin: auto;
  height:100%;
  background-color: #000000;
  position: relative;
  padding: 0;
  outline: 0;
  border: .1rem #777 solid;
  text-align: justify;
  width: 80%;
 
  box-shadow: 0 .3rem 7rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);

  
  -webkit-animation-name: back;
  -webkit-animation-duration: 0.5s; 
  animation-name: back;
  animation-duration: 0.5s;
 
}


.closebtn {
  text-decoration: none;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  margin-right: 1.7rem;
}

.closebtn:hover,.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// .comment-list{
//   color: white;
//   background-color: coral;
//   width: 200px;
//   height: 100px;
//   border: 1px solid black;
//   overflow: scroll;
// }
.asda{
  color: white;
  // background-color: coral;
  background-color: rgb(101, 7, 7);
  width: 27.1rem;
  height: 20rem;
  border: .05rem solid black;
  overflow: scroll;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
}


a{
  color: orange
}

a:hover{
border: .1rem solid white;
background-color: white;
}
// .link-to-logs{
// color: rgb(33, 114, 180)
// }

// input[type=radio]:checked {
//   display: none;
// }

// input[type=radio][id=good-c]{
//   display: none;
  
// }

// .comment-hide div{
//   display: none;
// }
// .comment-hide div:target{
// display: block;
// }

.see-comment{
  display: none;
}
// .see-comment::after{
// display: block;
// }

#comment-new:checked~.see-comment{
  display: block;
}

p.move-check{
  position: absolute;
  margin-left: 10rem;
  background-color: #777;
  color: #fff;
  border: .34rem solid #777;
  font-size: 2rem;
  // margin-top: 5px;
}
#comment-new{
width: 7rem;
  transform: scale(8);
  opacity: 0;
}

.center-title-column-chart{
  text-align: center;
  color: #fff;
}

.center-title-pie-chart{
  color: #fff;
  position: absolute;
  margin-left: 4.7rem;
  margin-top: 1.7rem;
}

.bar-chart-whole{
  position: absolute;
  margin-top: 35rem;
  top: -1rem;
  margin-left: 35rem;
}

.comments-length-log{
  font-size: 1.9rem;
}

// .comments-length{
// color:rgba(3, 3, 255, 0.67)
// }