@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
box-sizing: border-box;
background-color: gray;
// background-color: rgb(46, 46, 45);
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.menu-text{
  display: inline-block;
}

.button{
  display: inline-block;
  background-color: gray;
//   position: relative;
// right: 70px;
}
.button-form{
 position:relative;
 width: 6%;
 height: 40px;
  background-color: rgba(4, 126, 214, 0.646);
  color: rgb(255, 255, 255);
  size: 100px;
}

p.habit-title{
 font-weight: 700;
 font-size: 1.6rem;
 margin-top: 1em;
 padding: 1em;
}

p.habit-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}
.item{
    text-align: center;
  float: left;
  width: 30%;
  margin-right: .7em;
  max-height: 320em;
  background-color: white;
  flex-direction: row;
  margin-bottom: 2em;
  align-items: center;
  border-radius: 0.5em;
  -webkit-box: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
  -moz-box: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
  box-shadow: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
}

p.log-title{
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 1em;
 }

 p.log-description{
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.log-item{
  text-align: center;
  box-sizing: border-box;
position: relative;
float: left;
width: 25%;

zoom: 1;
margin-right: .7em;
max-height: 320em;
// background-color: rgba(46, 44, 44, 0.599);
// color: rgba(209, 208, 206, 0.753);
// color: rgb(124, 81, 0);
background-color: black;
color: white;
flex-direction: row;
margin-bottom: 2em;
align-items: center;
border-radius: 0.5em;
-webkit-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
-moz-box: 40px 29px 38px 15px rgba(0.43,0,0,0.43);
// box-shadow: 40px 29px 38px -15px rgba(0.43,0,0,0.43);
}

#delete:hover{
background-color: red;
}

#log-date-parent{
 font-size: 20px;
 position: relative;
// left: 110px;
top: 30px;
}
.add-habits{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.good-bad-list-intro{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 85px;
}